/* Général */
body{
	font-family: 'Roboto', Arial, Tahoma , sans-serif;
}
/* Entête de page */
header{
	background-image: url(../img/background_header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 3px red solid;
	border-radius: 0% 0% 40% 40%;
}
#photo_portrait{
	padding: 0;
	width: 60%;
	height: 60%;
	border-radius: 0% 0% 20% 20%;
}
#TitreEtSousTitre{
	
}
article{
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	border-radius: 6% ;
}
footer{
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	border-radius: 6% ;
}